base_model:
  name: unsloth/Llama-3.2-1B-bnb-4bit
  # name: unsloth/Llama-3.2-3B-bnb-4bit
  # name: unsloth/Meta-Llama-3.1-8B-bnb-4bit

dataset:
  name: allenai/tulu-3-sft-personas-math-grade
  # name: allenai/tulu-3-sft-personas-math
  # name: allenai/tulu-3-sft-personas-instruction-following
  # name: allenai/tulu-3-sft-personas-algebra
  # name: allenai/tulu-3-sft-personas-code
  # name: allenai/llama-3.1-tulu-3-8b-preference-mixture
  # name: allenai/llama-3.1-tulu-3-70b-preference-mixture
  # name: allenai/llama-3.1-tulu-3-405b-preference-mixture

lm_eval_tasks:
  - "hellaswag"
  - "gsm8k"
  - "arc_easy"
  - "truthfulqa"
  - "winogrande"
  - "humaneval"
  - "mmlu"

device: cuda

batch_size: auto

limit: null

use_accelerate: true

#output_path: "eval_results"
